<html>
    
    <h1>Main view</h1>

    <nav>
        <a href="/sendmessage/">Send message</a> |
        <a href="/admin/">Admin</a> |
        <a href="#">Logout</a>
    </nav>

    <h3>Top voted video</h3>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=LtZG2ZVvR52Td6u6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    
    <h3>Messages</h3>

    <form action="/main" method="get"> <!-- todo: tarvitseeko olla get jotta turvaton -->

        <!-- {% csrf_token %}  fix 5: remove commenting from {% csrf_token %} -->

        <div style="margin-bottom: 10px;">
            <label for="username">Your message:</label>
            <input type="text" id="message" name="message">
            <input type="submit" value="Submit">
        </div>

        <ul>
            <li>buu from: bää</li>
        </ul>
        
    </form>

    <!--

    <h3>Service users</h3>

    <table style="border-collapse: collapse;">
        <thead>
            <tr>
                <th style="text-align: left; padding: 5px 10px 5px 0;">Username</th>
                <th style="text-align: left; padding: 5px 10px 5px 0;">Info</th>
            </tr>
        </thead>
        <tbody>
            <tr style="border-top: 1px solid #ccc;">
                <td style="text-align: left; padding: 5px 10px 5px 0;">pertti</td>
                <td style="text-align: left; padding: 5px 10px 5px 0;">perusjätkä</td>
                <td style="text-align: left; padding: 5px 10px 5px 0;"><a href="/sendmessage/">send message</a></td>
            </tr>
        </tbody>
    </table>
-->

</html>