<html>
    <h1>Send message</h1>
    <h3>Please write your message</h3>
    <form action="/sendmessage" method="get"> <!-- todo: tarvitseeko olla get jotta turvaton -->

        <!-- {% csrf_token %}  fix 5: remove commenting from {% csrf_token %} -->

        <div style="margin-bottom: 10px;">
            <label for="username">Message:</label><br>
            <input type="text" id="message" name="message"><br>
        </div>
        <input type="submit" value="Submit">
    </form>

    <h3> or <a href="/main/">cancel</a></h3>
    
</html>